
.propsLabel {
    text-align: center;
    fill: lightgrey;
    font-size: 16px;
}

.propsLabel_sm {
    text-align: center;
    fill: lightgrey;
    font-size: 12px;
}


.completedOK {
    fill: #00ff00;
}